<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">



<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>1.2</jsp-version>
    <short-name>halogenpresentation</short-name>
    <uri>/halogenpresentation</uri>
    <description>A blank tag library template. 
    </description>
    <tag>
        <name>table</name>
        <tag-class>no.halogen.presentation.web.TableTag</tag-class>
        <body-content>JSP</body-content>
        <display-name>Table</display-name>
        <description></description>
        <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
        <tldx>
            <packagename>no.halogen.presentation.web</packagename>
            <extendsSupportClass>TRUE</extendsSupportClass>
            <supportClass>TagSupport</supportClass>
            <implementsTryCatchFinally>FALSE</implementsTryCatchFinally>
            <findparent>FALSE</findparent>
        </tldx>
        -->
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>String</type>
            <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
            <tldx>
                <javaVariable>name</javaVariable>
                <IsReferenceID>FALSE</IsReferenceID>
                <ReferencesTag>TRUE</ReferencesTag>
                <ReferenceScope>Session</ReferenceScope>
                <ReferencesTagType>no.halogen.utils.table.Table</ReferencesTagType>
                <ReferencesTagVariable>table</ReferencesTagVariable>
                <ReferencesTagReferentFirst>TRUE</ReferencesTagReferentFirst>
            </tldx>
            -->
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <type>String</type>
            <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
            <tldx>
                
                <IsReferenceID>FALSE</IsReferenceID>
                <ReferencesTag>FALSE</ReferencesTag>
                <ReferenceScope>Session</ReferenceScope>
                
                
                <ReferencesTagReferentFirst>TRUE</ReferencesTagReferentFirst>
            </tldx>
            -->
        </attribute>
        <attribute>
            <name>selectableRows</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <type>boolean</type>
            <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
            <tldx>
                
                <defaultValue>false</defaultValue>
                
                
                <IsReferenceID>FALSE</IsReferenceID>
                <ReferencesTag>FALSE</ReferencesTag>
                <ReferenceScope>Session</ReferenceScope>
                
                
                
                
                
                
                <ReferencesTagReferentFirst>TRUE</ReferencesTagReferentFirst>
            </tldx>
            -->
        </attribute>
        <example></example>
    </tag>
    <tag>
        <name>historypath</name>
        <tag-class>no.halogen.presentation.web.HistoryPathTag</tag-class>
        <body-content>JSP</body-content>
        <display-name>History Path</display-name>
        <description></description>
        <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
        <tldx>
            <packagename>no.halogen.presentation.web</packagename>
            <extendsSupportClass>TRUE</extendsSupportClass>
            <supportClass>TagSupport</supportClass>
            <implementsTryCatchFinally>FALSE</implementsTryCatchFinally>
            <findparent>FALSE</findparent>
        </tldx>
        -->
        <example></example>
    </tag>
    <tag>
        <name>menuitem</name>
        <tag-class>no.halogen.presentation.web.MenuItemTag</tag-class>
        <body-content>JSP</body-content>
        <description></description>
        <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
        <tldx>
            <packagename>no.halogen.presentation.web</packagename>
            <extendsSupportClass>TRUE</extendsSupportClass>
            <supportClass>TagSupport</supportClass>
            <implementsTryCatchFinally>FALSE</implementsTryCatchFinally>
            <findparent>FALSE</findparent>
        </tldx>
        -->
        <attribute>
            <name>action</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>String</type>
            <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
            <tldx>
                
                
                <IsReferenceID>FALSE</IsReferenceID>
                <ReferencesTag>FALSE</ReferencesTag>
                <ReferenceScope>Session</ReferenceScope>
                
                
                
                
                <ReferencesTagReferentFirst>TRUE</ReferencesTagReferentFirst>
            </tldx>
            -->
        </attribute>
        <attribute>
            <name>new</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <type>boolean</type>
            <!-- Forte4J_TLDX:  This comment contains code generation information. Do not delete.
            <tldx>
                <javaVariable>newAction</javaVariable>
                
                <defaultValue>false</defaultValue>
                <IsReferenceID>FALSE</IsReferenceID>
                <ReferencesTag>FALSE</ReferencesTag>
                <ReferenceScope>Session</ReferenceScope>
                <ReferencesTagType></ReferencesTagType>
                <ReferencesTagVariable></ReferencesTagVariable>
                
                
                <ReferencesTagReferentFirst>TRUE</ReferencesTagReferentFirst>
            </tldx>
            -->
        </attribute>
        <example></example>
    </tag>
    
    <!-- Validators are new in JSP1.2. You may have zero or one validator
         in a tag library. They look like this:
      <validator>
          <validator-class>org.your.web.app.ValidateTaglibUsage</validator-class>
          <init-param>
             <param-name>aparameter</param-name>
             <param-value>value</param-value>
             <description>Describe this parameter</description>
	  </init-param>
      </validator>
   -->

   <!-- listeners are new in JSP1.2. You may have as many listeners as you like
        in a tag library. They look like this:
     <listener>
         <listener-class>org.your.web.app.TaglibListener1</listener-class> 
     </listener>
   -->
</taglib>
